iframe .ytp-pause-overlay-container {
    display: none;
}

iframe .ytp-chrome-top.ytp-show-cards-title {
    display: none;
}


blockquote {
    border-left: 5px solid #ccc;
    /* Adjust color and width as needed */
    padding-left: 15px;
    margin-left: 20px;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5em;
}

.news_details a {
    color: rgb(160, 3, 3);
}

/* tabbed nav wo bootstrap */

.tab-container {
    max-width: 600px;
    width: 100%;
    position: relative;
}

.tab-input {
    display: none;
}

.tab-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: -1px;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.tab-label:hover {
    background-color: #ddd;
}

.tab-label:last-of-type {
    margin-right: 0;
}

.tab-input:checked+.tab-label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 2;
}

.tab-panel {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    position: relative;
    top: -1px;
}

#tab1:checked~#panel1,
#tab2:checked~#panel2,
#tab3:checked~#panel3 {
    display: block;
}